/* GENERAL */
* {
  font-family: "Inter-light", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 600;
  font-size: 2rem;
}
p {
  font-size: 1.3rem;
}
.container-fluid {
  padding: 0 15%;
}

/* BUTTONS */
.btn-outline-primary {
  font-size: 1.25rem;
  color: white;
  border-color: white;
  background-color: black;
  margin-top: 2rem;
  margin-right: 0.75rem;
}

.btn-outline-primary:hover {
  background-color: rgb(47, 47, 47);
  border-color: white;
}

/* NAVBAR */
.navbar {
  background-color: #002d4f;
  padding: 0.5rem 0 0;
}

#navbar-logo {
  height: 30px;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.nav-link {
  color: rgb(203, 203, 203);
  font-size: 1.3rem;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

/* TITLE SECTION */
#title {
  background-color: #002d4f;
  color: white;
}

#call-to-action {
  padding: 25% 0;
}
#phone-mockup {
  width: 70%;
  transform: rotate(20deg);
  margin: 1rem 2rem;
}

@media (max-width: 992px) {
  #call-to-action {
    padding-bottom: 10%;
  }
}

/* FEATURES SECTION */
#features {
  padding: 6rem 0;
}
#features .fa-solid {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#features .col-lg-4 {
  padding: 6rem;
  color: #002d4f;
}
#features .col-lg-4:hover {
  color: #035ca0;
}

/* REVIEWS SECTION */
#reviews {
  background-color: #002d4f;
  color: white;
  text-align: center;
}

.reviewer img {
  width: 130px;
  border-radius: 100%;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.reviewer {
  margin-top: 6rem;
}
.reviewer-text {
  display: inline-block;
  text-align: left;
}
.carousel-item {
  padding: 12rem 12rem 0;
}

.media {
  height: 50px;
  margin: 6rem 2rem;
}

@media (max-width: 992px) {
  .carousel-item {
    padding: 4rem 5rem 0;
  }
  .carousel-item h2 {
    font-size: 1.5rem;
  }
  .reviewer img {
    width: 75px;
    border-radius: 100%;
    margin-top: 0;
    margin-right: 2%;
    margin-left: auto;
  }
  /* .reviewer-text {
    width: 60%;
  } */
  .reviewer-text h3 {
    font-size: 1.2rem;
  }
  .reviewer-text p {
    font-size: 0.75rem;
  }
  .media {
    height: 30px;
    margin: 3rem 1rem;
  }
}

/* NUMBERS SECTION */
#numbers {
  padding: 6rem 4rem;
}
#numbers .col-lg-4 {
  padding: 2rem;
  text-align: center;
}

#numbers .card:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

#numbers .card-header {
  text-align: center;
  color: white;
  background-color: #002d4f;
  padding: 1rem;
}

#numbers h3 {
  font-weight: 600;
}

#numbers .stars {
  font-size: 2rem;
  margin: 1rem;
}
#numbers .worldwide {
  margin: 1rem;
}

@media (max-width: 1220px) {
  #numbers h3 {
    font-size: 1.25rem;
  }
  #numbers p {
    font-size: 1rem;
  }
}

/* END BANNER */
#end-banner {
  background-color: #002d4f;
  color: white;
  text-align: center;
  padding: 6rem 15%;
}

#end-banner .btn-outline-primary {
  margin-right: 2rem;
  font-size: 1.5rem;
}
