/* GENERAL */
* {
  font-family: "Inter-light", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 2rem;
}
h2 {
  font-weight: bold;
  font-size: 2rem;
}
p {
  font-size: 1.3rem;
  color: rgb(71, 71, 71);
}
.container-fluid {
  padding: 0 15%;
}

/* BUTTONS */
.btn-outline-primary {
  font-size: 1.25rem;
  color: white;
  border-color: white;
  background-color: black;
  margin-top: 2rem;
  margin-right: 0.75rem;
}

.btn-outline-primary:hover {
  background-color: rgb(47, 47, 47);
  border-color: white;
}

/* NAVBAR */
.navbar {
  background-color: #002d4f;
  padding: 0.5rem 0 0;
}

#navbar-logo {
  height: 30px;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.nav-link {
  color: rgb(203, 203, 203);
  font-size: 1.3rem;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

/* TITLE SECTION */
#title {
  background-color: #002d4f;
  color: white;
}
#title p {
  color: white;
}

#call-to-action {
  padding: 25% 0;
}
#phone-mockup {
  width: 70%;
  transform: rotate(20deg);
  margin: 1rem 2rem;
}

/* fEATURES SECTION */
#features {
  padding: 6rem 0;
}
#features .fa-solid {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#features .col-lg-4 {
  padding: 6rem;
  color: #002d4f;
}
#features .col-lg-4:hover {
  color: #035ca0;
}
